{% extends 'layout.html' %}


{% block body %}

<div class="row">
     <!-- tabla column de 5-->
    <div class="col-md-5">
        <!-- Traer mensajes de la app-->
        {% with mensajes = get_flashed_messages() %}
            {% if mensajes %}
                {% for mensaje in mensajes %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{mensaje}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="card card body">
            <form action="/add_contact" method="post"> 
                <div class="form-group">
                    <input type="text" name="nombreCompleto" placeholder="Nombre Completo" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="telefono" placeholder="Telefono" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="email" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="number" id="number" name="email" placeholder="number" value="0" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary w-100">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- tabla column de 7-->
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Email</td>
                    <td>Nombre Completo</td>
                    <td>Telefono</td>
                    <td>Operaciones</td>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <!-- posicion en tupla de cliente recorrida del listado de clientes (email,nombre,tel)-->
                        <td>{{ cliente.1}}</td>
                        <td>{{ cliente.2}}</td>
                        <td>{{ cliente.3}}</td>
                        <td>
                            <a class="btn btn-secondary" href="/edit/{{cliente.0}} ">Editar</a>
                            <a class="btn btn-danger btn-delete" href="/delete/{{cliente.0}}">Borrar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>








{% endblock %}